.repl_history
build
tags
app/pixate_code.rb
resources/*.nib
resources/*.momd
resources/*.storyboardc
vendor/Pods
vendor/Podfile.lock
vendor/**/build-*
app/testflight_launcher.rb
resources/AirshipConfig.plist
.DS_Store
nbproject
.env
.redcar
#*#
*~
*.sw[po]
.eprj
.sass-cache
.idea
.dat*.*
